// Media 768px

@media only screen and (min-width: $media-tablet) {
  // Footer

  #footer {
    .wraper-2 {
      padding: 2em 0;
      width: 90%;
      div:first-child {
        @include flexbox(row, flex-start, center);
        a {
          padding-right: 1em;
        }
      }
      div:nth-child(2) {
        @include flexbox(row, space-between, center);
      }
    }
  }

  // Locations

  #locations {
    &-c {
      .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;
        grid-column-start: 1;
        .card {
          img {
            width: 100%;
            max-height: 230px;
            object-fit: cover;
          }
        }
      }
    }
    &-newsletter {
      .wraper-2 {
        width: 90%;
        h3 {
          font-size: 2rem;
        }
      }
    }
    &-form {
      .wraper-2 {
        width: 90%;
      }
    }
  }
}

// Media for locations card images to be in line
@media only screen and (min-width: 950px) {
  // Locations

  #locations {
    &-c {
      .container {
        .card {
          img {
            width: 100%;
            max-height: 280px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

// Media - Tablet landscape

@media only screen and (min-width: $media-tablet-landscape) {
  // Nav bar
  #nav-bar {
    .nav-container {
      .nav-menu {
        display: flex;
        .social {
          padding-right: 0.5em;
        }
      }
      .nav-hamburger {
        display: none;
      }
    }
  }

  // Home

  #home-a {
    .wraper {
      padding-bottom: 1em;
    }
    .container {
      margin-bottom: 5rem;
    }
  }
  #home-b {
    .wraper-2 {
      display: grid;
      grid-gap: 1rem;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      .btn-light {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 2em auto;
      }
    }
  }
  #home-d {
    .wraper-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      h3 {
        font-size: 2.5rem;
        padding-top: 0.5em;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.6;
      }
      .btn-light {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
      }
    }
    .b-line {
      margin-top: 3em;
    }
  }
  #home-e {
    .wraper-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      .face-cover {
        display: block;
        margin: 0;
      }

      .face {
        display: none;
      }
      h3 {
        font-size: 2.5rem;
        padding-top: 0.5em;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.6;
      }
      .btn-light {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 2em auto;
      }
    }

    .b-line {
      display: block;
    }
  }
  #home-f {
    .wraper-2 {
      width: 70%;
    }
  }
  #home-g {
    .wraper-2 {
      width: 70%;
    }
  }
  .b-line {
    width: 60%;
  }

  // Menu media quries

  #menu {
    &-b {
      .container {
        h3 {
          font-size: 2rem;
        }

        .menu-options {
          padding: 0 2em;
          display: flex;
          flex-direction: row;
          grid-gap: 0.2em;
        }
        .btn-light {
          font-size: 0.75rem;
        }
      }
    }
    &-c {
      .container {
        padding: 7em 0;
        h3 {
          font-size: 2rem;
        }
      }
    }
    &-newsletter {
      padding-top: 7em;
      width: 60%;
      margin: auto;
      h3 {
        font-size: 2rem;
      }
    }
    &-form {
      width: 60%;
      margin: auto;
    }
  }

  // Locations

  #locations {
    &-c {
      .container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5em;
        grid-column-start: 1;
        .card {
          img {
            width: 100%;
            min-height: 300px;
            object-fit: cover;
          }
        }
      }
    }
    &-newsletter {
      .wraper-2 {
        width: 65%;
        h3 {
          font-size: 2.5rem;
        }
      }
    }
    &-form {
      .wraper-2 {
        width: 65%;
      }
    }
  }
}

// Max media quries

@media only screen and (min-width: $media-max) {
  // Menu

  #menu {
    &-b {
      .container {
        .btn-light {
          font-size: 1rem;
        }
        .menu-options {
          grid-gap: 0.6em;
        }
      }
    }
  }
}
