// Media 768px

@media only screen and (min-width: $media-tablet) {
  #footer {
    .wraper-2 {
      padding: 2em 0;
      width: 90%;
      div:first-child {
        @include flexbox(row, flex-start, center);
        a {
          padding-right: 1em;
        }
      }
      div:nth-child(2) {
        @include flexbox(row, space-between, center);
      }
    }
  }
}

// Media - Tablet landscape

@media only screen and (min-width: $media-tablet-landscape) {
  #nav-bar {
    .nav-container {
      .nav-menu {
        display: flex;
        .social {
          padding-right: 0.5em;
        }
      }
      .nav-hamburger {
        display: none;
      }
    }
  }
}

// #nav-bar .nav-container .nav-menu {
//   display: block;
// }
