.container {
  max-width: $website-width;
  margin: auto;
  overflow: hidden;
}

.wraper-2 {
  width: 90%;
  margin: 0 auto;
}

// Text classes

.txt-up {
  text-transform: uppercase;
}

.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

.txt-last-center {
  text-align-last: center;
}
.txt-light {
  font-weight: 300;
}
.txt-bold {
  font-weight: bold;
}

.txt-space {
  letter-spacing: 3px;
}

// Padding top and bottom (Y axis)

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

// Padding left and right (X axis)

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

.px-4 {
  padding: 0 4rem;
}

// Margin top and bottom (Y axis)

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

// Margin auto (X axis)

.mx-auto {
  margin: 0 auto;
}

// Margin left and right (X axis)
.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mx-4 {
  margin: 0 4rem;
}

// Buttons

.btn-white {
  display: block;

  padding: 2em 2em;
  text-align: center;
  border-radius: 300px;
  border: 1px solid $txt-light-color;
  color: $txt-light-color;
  cursor: pointer;
  transition: 0.2s;
}

.btn-light {
  display: inline-block;
  padding: 2em 2em;
  text-align: center;
  border-radius: 300px;
  color: $txt-main-color;
  border: 1px solid $txt-foot-color;
  cursor: pointer;
  transition: 0.2s;
}

.btn-dark {
  display: inline-block;
  padding: 2em 2em;
  text-align: center;
  border-radius: 300px;
  background: $txt-dark-color;
  color: $txt-light-color;
  border: 1px solid $txt-dark-color;
  cursor: pointer;
  transition: 0.2s;
}

// Bottom line

.b-line {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 2rem;
}
