.container {
  max-width: $website-width;
  margin: auto;
  overflow: hidden;
}

.txt-up {
  text-transform: uppercase;
}

.txt-center {
  text-align: center;
}
.txt-light {
  font-weight: 300;
}
.txt-bold {
  font-weight: bold;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}
